.phpunit.cache
vendor/
composer.lock
.php-cs-fixer.cache
.php-cs-fixer.php

# Test coverage reports
coverage-report/
coverage.xml

# Environment files
.env
.env.*
!.env.*.dist

# Configuration files
phinx.mysql.yml
phinx.pgsql.yml
!phinx.*.yml.dist

# IDE
.idea/
.vscode/
.lh/