paths:
    migrations: %%PHINX_CONFIG_DIR%%/resources/db/migrations/postgres

environments:
    default_migration_table: phinxlog
    default_environment: development
    development:
        adapter: pgsql
        host: ${TEST_PG_HOST}
        name: ${TEST_PG_DB_NAME}
        user: ${TEST_PG_USER}
        pass: ${TEST_PG_PASS}
        port: ${TEST_PG_PORT}
        schema: ${TEST_PG_SCHEMA}
        charset: utf8

version_order: creation
